.logo {
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $color-accent;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
