*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
