$background-color-dark: #2f303a;
$background-color-grey: #f5f4fa;
$background-color-white: #ffffff;
$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$color-accent: #2196f3;
$title-color: #212121;
$button-background: #2196f3;
$button-text: #ffffff;
$header-logo-color: #000000;
$footer-logo-color: #ffffff;
$header-border: #ececec;
$icon-fill: #afb1b8;
$icon-accent: #ffffff;
$input-border: rgba(33, 33, 33, 0.2);
$modal-icon-fill: #212121;
$modal-placeholder: rgba(117, 117, 117, 0.5);
$menu-btn: #212121;
$backdrop: rgba(0, 0, 0, 0.2);
$btn-close-border: rgba(0, 0, 0, 0.1);
$cards-border: #eeeeee;
$cards-background: #ffffff;
$cards-modal-background: rgba(33, 150, 243, 0.9);
$cards-modal-text: #ffffff;
$subscription-placeholder: rgba(255, 255, 255, 0.6);
$subscription-border: rgba(255, 255, 255, 0.3);
$footer-contacts: rgba(255, 255, 255, 0.6);
$footer-socials-background: rgba(255, 255, 255, 0.1);
