.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $title-color;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.clients__companies {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.clients__companies-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid $icon-fill;
  border-radius: 4px;
  fill: $icon-fill;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $color-accent;
    border: 1px solid $color-accent;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
